body {
  margin: 0;
  padding: 0;
}

/* .backgroundImage {
  background-image: url('./assets/frontimage.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
} */


.backgroundImage {
  position: relative;

  background-image: url('./assets/frontimage.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.backgroundImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.backgroundImage>* {
  position: relative;
  z-index: 2;
}






.linehight {
  line-height: 44px;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}


@media(max-width:900px) {
  .hide {
    display: none !important;

  }
}

.whyimg {
  background-image: url('./assets/modal1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.custom-bg {
  background-color: rgba(0, 0, 0, 0.73);
}

.startd {
  justify-self: flex-start;
}

.arrow:hover .showe {
  display: block;
}